
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@inherits LayoutComponentBase

<div>
    @{
        var containerStyle = orientation == Orientation.Vertical ? "width:100vw;height:100vh" : "height:100vh";
    }
    <FluentStack Orientation="orientation" Style="@containerStyle">

        @if (orientation == Orientation.Horizontal)
        {
            <FluentAppBar Orientation="Orientation.Vertical" Style="height: 100vh;">
                <FluentAppBarItem Href="/home" IconRest="@(new Size32.Home())" Text="主页"></FluentAppBarItem>
                <FluentAppBarItem Href="/history" IconRest="@(new Size32.History())" Text="历史"></FluentAppBarItem>
                <FluentAppBarItem Href="/setting" IconRest="@(new Size32.Settings())" Text="设置"></FluentAppBarItem>
            </FluentAppBar>
            <FluentBodyContent>
                @Body
            </FluentBodyContent>
        }
        else
        {
            <FluentBodyContent>
                @Body
            </FluentBodyContent>


            <FluentAppBar Orientation="Orientation.Horizontal"
                          Style="width: 100%;">
                <FluentGrid Style="width: 100%;background-color: rgba(213,213,213,0.32)"
                            Justify="JustifyContent.SpaceAround">
                    <FluentGridItem sm="6">
                        <FluentAppBarItem Style="width: 100%;" Href="/home"
                                          IconRest="@(new Size20.Home())"
                                          Text="主页"></FluentAppBarItem>
                    </FluentGridItem>

                    <FluentGridItem sm="6">
                        <FluentAppBarItem Style="width: 100%;" Href="/home"
                                          IconRest="@(new Size20.History())"
                                          Text="历史"></FluentAppBarItem>
                    </FluentGridItem>

                    <FluentGridItem sm="6">
                        <FluentAppBarItem Style="width: 100%" Href="/setting" IconRest="@(new Size20.Settings())"
                                          Text="设置"></FluentAppBarItem>
                    </FluentGridItem>
                </FluentGrid>


            </FluentAppBar>
        }


    </FluentStack>


</div>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>


@code{
    private Orientation orientation = Orientation.Horizontal;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (DeviceInfo.Current.Idiom == DeviceIdiom.Desktop || DeviceInfo.Current.Idiom == DeviceIdiom.Tablet)
        {
            orientation = Orientation.Horizontal;
        }
        else
        {
            orientation = Orientation.Vertical;
        }
    }

}