@page "/Home"
@using AirTransfer.Extensions
@using AirTransfer.Models
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using Size12 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size12
@inherits PageComponentBase

<div class="main-container">
    <div class="top">
        <FluentGrid Spacing="0" Justify="JustifyContent.SpaceBetween">
            <FluentGridItem xs="12">
                <FluentCard Style="width: 100%">
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Stretch">
                        <FluentPersona Status="PresenceStatus.Available"
                                       StatusSize="PresenceBadgeSize.Large"
                                       Image="images/h.jpg" ImageSize="80px"></FluentPersona>
                        <FluentStack Orientation="Orientation.Vertical" Style="height: 100%">
                            <FluentLabel Alignment="HorizontalAlignment.Start" Style="margin-top: 20px;"
                                         Typo="Typography.H5">
                                @LocalDevice.NickName
                            </FluentLabel>
                            <FluentLabel Alignment="HorizontalAlignment.Start"
                                         Typo="Typography.H6">@LocalDevice.DeviceName
                            </FluentLabel>
                        </FluentStack>
                        <FluentSpacer></FluentSpacer>
                        <FluentButton Style="margin-right: 10px; margin-top: 10px;"
                                      Disabled="@StateManager.GetIsWorkingBusyState()"
                                      IconStart="@(new Size32.Search())" OnClick="SearchCommand"></FluentButton>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton Disabled="@StateManager.GetIsWorkingBusyState()" Style="width: 100%" OnClick="GotoTextInputPageCommand">文本</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton Disabled="@StateManager.GetIsWorkingBusyState()" Style="width: 100%" OnClick="OpenFileCommand">文件</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton Disabled="@StateManager.GetIsWorkingBusyState()" Style="width: 100%" OnClick="OpenFolderCommand">文件夹</FluentButton>
            </FluentGridItem>

            @if (StateManager.GetInformationModel() is not null)
            {
                var information = StateManager.GetInformationModel();
                <FluentGridItem xs="12">
                    <FluentCard>
                        <FluentStack HorizontalAlignment="HorizontalAlignment.Center"
                                     Orientation="Orientation.Vertical">
                            <FluentStack Orientation="Orientation.Horizontal"
                                         VerticalAlignment="VerticalAlignment.Center"
                                         HorizontalAlignment="HorizontalAlignment.Center">
                                <FluentBadge>@information.SendType </FluentBadge>
                                <FluentBadge>@information.Summary</FluentBadge>
                                <FluentButton IconStart="@(new Size16.Stop())"
                                              Disabled="@StateManager.GetIsWorkingBusyState()"
                                              OnClick="ClearInformationModelCommand"></FluentButton>
                            </FluentStack>

                            <FluentProgress Width="90%"></FluentProgress>
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>
            }

            <FluentGridItem xs="12">
                <FluentListbox Class="listbox" Style="overflow:hidden;outline:none;border:none"
                               TOption="DiscoveredDeviceModel" Width="100%">
                    @foreach (var item in StateManager.Devices())
                    {
                        <FluentCard Style="margin: 2px;">
                            <FluentGrid>
                                <FluentGridItem xs="1">
                                    <FluentCheckbox
                                        Disabled="@StateManager.GetIsWorkingBusyState()"
                                        Style="margin-left: 5px; margin-right:5px; height: 100%;align-items: center"
                                        @bind-Value="@item.IsChecked"></FluentCheckbox>
                                </FluentGridItem>

                                <FluentGridItem xs="1">
                                    @switch (item.SystemType)
                                    {
                                        case Enums.SystemType.Windows:
                                            <div class="system-type-icon">
                                                <FluentIcon
                                                    Value="@(Icon.FromImageUrl("images/windows.png"))"></FluentIcon>
                                            </div>
                                            break;
                                        case Enums.SystemType.MacOS:
                                            <div class="system-type-icon">
                                                <FluentIcon Class="system-type-icon"
                                                        Value="@(Icon.FromImageUrl("images/mac.png"))"></FluentIcon>
                                            </div>
                                            break;
                                        case Enums.SystemType.IOS:
                                            <div class="system-type-icon">
                                                <FluentIcon
                                                    Value="@(Icon.FromImageUrl("images/iphone.png"))"></FluentIcon>
                                            </div>
                                            break;
                                        case Enums.SystemType.Android:
                                            <div class="system-type-icon">
                                            <FluentIcon
                                                Value="@(Icon.FromImageUrl("images/android.png"))"></FluentIcon>
                                            </div>
                                            break;
                                        default:
                                            throw new NotImplementedException("目前图标只支持 windows,mac,ios,android");
                                    }
                                </FluentGridItem>
                                <FluentGridItem xs="4">
                                    <FluentStack
                                        HorizontalAlignment="HorizontalAlignment.Left"
                                        HorizontalGap="0"
                                        VerticalGap="0"
                                        Orientation="Orientation.Vertical">
                                        <FluentLabel Style="font-size: 10px;">@item.NickName
                                        </FluentLabel>
                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0"
                                                     HorizontalAlignment="HorizontalAlignment.Left">
                                            <FluentIcon
                                                Value="@(new Size20.Wifi1())"></FluentIcon>
                                            <FluentLabel Alignment="HorizontalAlignment.Start"
                                                         Typo="Typography.Body"
                                                         Style="font-size: 10px;">@item.Flag</FluentLabel>
                                        </FluentStack>
                                    </FluentStack>
                                </FluentGridItem>
                                <FluentGridItem xs="5">
                                    @if (item.WorkState == WorkState.Downloading)
                                    {
                                        var progress =  (int)(item.Progress * 100);
                                        <FluentProgress Style="align-items: center;height: 100%"  Color="@OfficeColor.Exchange.ToAttributeValue()"  Min="0" Max="100" Value="@progress"></FluentProgress>
                                    }
                                    else if(item.WorkState==WorkState.Sending)
                                    {
                                        var progress =  (int)(item.Progress * 100);
                                        <FluentProgress Style="align-items: center;height: 100%" Color="@OfficeColor.Booking.ToAttributeValue()" Min="0" Max="100"  Value="@progress"></FluentProgress>
                                    }

                                </FluentGridItem>
                                <FluentGridItem xs="1">
                                    @if (item.WorkState == WorkState.Downloading || item.WorkState == WorkState.Sending)
                                    {
                                        <FluentButton Style="align-items: center;height: 100%"
                                                      IconStart="@(new Size24.ShareScreenStop())"></FluentButton>
                                    }
                                </FluentGridItem>
                            </FluentGrid>
                        </FluentCard>
                    }
                </FluentListbox>
            </FluentGridItem>
        </FluentGrid>
    </div>
    <div class="busy-container">
        <FluentProgressRing Visible="@IsBusy"></FluentProgressRing>
    </div>

    @if (StateManager.GetInformationModel() is not null && StateManager.Devices().Any(x => x.IsChecked))
    {
        <div class="bottom">
            <FluentButton Style="width:100%" OnClick="SendCommand" Disabled="@StateManager.GetIsWorkingBusyState()">发送</FluentButton>
        </div>
    }
</div>