@layout EmptyLayout

@page "/"
@using AirTransfer.Components.Layout
@inherits PageComponentBase

<div>
    <div style="text-align: center;">
        <img src="images/logo_with_text.png" style="margin-top: 20%; width: 50%;"/>
    </div>

    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentTextField Label="@Localizer["NickOfName"]" TextFieldType="TextFieldType.Text" @bind-Value="@UserName"></FluentTextField>
        <FluentTextField Label="@Localizer["DeviceNickname"]" TextFieldType="TextFieldType.Text"
                         @bind-Value="@DeviceNiceName"></FluentTextField>
        <FluentButton OnClick="LoginAsync">@Localizer["Login"]</FluentButton>
        <FluentProgressRing Visible="@IsBusy"></FluentProgressRing>
    </FluentStack>

</div>