@page "/setting"
@using AirTransfer.Language
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@inherits PageComponentBase


<div>

    <FluentAccordion>
        <FluentAccordionItem Heading="扫描">
            <FluentButton IconStart="@(new Size24.Globe())">全局刷新</FluentButton>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="公共">
            <FluentStack Orientation="Orientation.Horizontal" Wrap="true">
                <FluentSelect TOption="KeyValuePair<string, string>"
                              Label="@Localizer["SelectLanguage"]"
                              Items="@Languages"
                              @bind-Value="@SelectedLanguage"
                              OptionText="x => x.Key" OptionValue="x=>x.Value"
                              SelectedOptionChanged="x=>SaveLanguageCommand(x)"></FluentSelect>
            </FluentStack>
        </FluentAccordionItem>
    </FluentAccordion>

    <FluentGrid AdaptiveRendering="true">
        <FluentGridItem xs="12">
            @* <div class="card" style="background-color: red"> *@
            @*     xs=12222 *@
            @* </div> *@
            <FluentButton Style="width: 100%;margin: 5px;" Appearance="Appearance.Accent" OnClick="@LogoutCommand">
                登出
            </FluentButton>
        </FluentGridItem>
    </FluentGrid>

</div>